*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(59, 59, 128);

}

main {
    background-color: antiquewhite;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(53, 45, 45);
}